<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-customer-order-heading"
        data-cy="CustomerOrderCreateUpdateHeading"
        jhiTranslate="whatsappProductServiceApp.customerOrder.home.createOrEditLabel"
      >
        Create or edit a Customer Order
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="whatsappProductServiceApp.customerOrder.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let orderTimeRef = editForm.get('orderTime')!;
        <div class="mb-3">
          <label class="form-label" for="field_orderTime" jhiTranslate="whatsappProductServiceApp.customerOrder.orderTime"
            >Order Time</label
          >
          <div class="d-flex">
            <input
              id="field_orderTime"
              data-cy="orderTime"
              type="datetime-local"
              class="form-control"
              name="orderTime"
              formControlName="orderTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (orderTimeRef.invalid && (orderTimeRef.dirty || orderTimeRef.touched)) {
            <div>
              @if (editForm.get('orderTime')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('orderTime')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let totalAmountRef = editForm.get('totalAmount')!;
        <div class="mb-3">
          <label class="form-label" for="field_totalAmount" jhiTranslate="whatsappProductServiceApp.customerOrder.totalAmount"
            >Total Amount</label
          >
          <input
            type="number"
            class="form-control"
            name="totalAmount"
            id="field_totalAmount"
            data-cy="totalAmount"
            formControlName="totalAmount"
          />
          @if (totalAmountRef.invalid && (totalAmountRef.dirty || totalAmountRef.touched)) {
            <div>
              @if (editForm.get('totalAmount')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('totalAmount')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >This field should be at least 0.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('totalAmount')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="whatsappProductServiceApp.customerOrder.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'whatsappProductServiceApp.OrderStatus.null' | translate }}</option>
            @for (orderStatus of orderStatusValues; track $index) {
              <option [value]="orderStatus">{{ 'whatsappProductServiceApp.OrderStatus.' + orderStatus | translate }}</option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let paymentMethodRef = editForm.get('paymentMethod')!;
        <div class="mb-3">
          <label class="form-label" for="field_paymentMethod" jhiTranslate="whatsappProductServiceApp.customerOrder.paymentMethod"
            >Payment Method</label
          >
          <input
            type="text"
            class="form-control"
            name="paymentMethod"
            id="field_paymentMethod"
            data-cy="paymentMethod"
            formControlName="paymentMethod"
          />
          @if (paymentMethodRef.invalid && (paymentMethodRef.dirty || paymentMethodRef.touched)) {
            <div>
              @if (editForm.get('paymentMethod')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_confirmedAt" jhiTranslate="whatsappProductServiceApp.customerOrder.confirmedAt"
            >Confirmed At</label
          >
          <div class="d-flex">
            <input
              id="field_confirmedAt"
              data-cy="confirmedAt"
              type="datetime-local"
              class="form-control"
              name="confirmedAt"
              formControlName="confirmedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_deliveryPerson" jhiTranslate="whatsappProductServiceApp.customerOrder.deliveryPerson"
            >Delivery Person</label
          >
          <select
            class="form-control"
            id="field_deliveryPerson"
            data-cy="deliveryPerson"
            name="deliveryPerson"
            formControlName="deliveryPerson"
            [compareWith]="compareTeamMember"
          >
            <option [ngValue]="null"></option>
            @for (teamMemberOption of teamMembersSharedCollection; track $index) {
              <option [ngValue]="teamMemberOption">{{ teamMemberOption.name }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_customer" jhiTranslate="whatsappProductServiceApp.customerOrder.customer">Customer</label>
          <select
            class="form-control"
            id="field_customer"
            data-cy="customer"
            name="customer"
            formControlName="customer"
            [compareWith]="compareCustomer"
          >
            @if (editForm.get(['customer'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (customerOption of customersSharedCollection; track $index) {
              <option [ngValue]="customerOption">{{ customerOption.name }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['customer'])!.invalid && (editForm.get(['customer'])!.dirty || editForm.get(['customer'])!.touched)) {
          <div>
            @if (editForm.get(['customer'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
