<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (fishProduct(); as fishProductRef) {
    <div>
      <h2 data-cy="fishProductDetailsHeading">
        <span jhiTranslate="whatsappProductServiceApp.fishProduct.detail.title">Fish Product</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ fishProductRef.id }}</span>
        </dd>
        <dt><span jhiTranslate="whatsappProductServiceApp.fishProduct.name">Name</span></dt>
        <dd>
          <span>{{ fishProductRef.name }}</span>
        </dd>
        <dt><span jhiTranslate="whatsappProductServiceApp.fishProduct.pricePerKg">Price Per Kg</span></dt>
        <dd>
          <span>{{ fishProductRef.pricePerKg }}</span>
        </dd>
        <dt><span jhiTranslate="whatsappProductServiceApp.fishProduct.imageUrl">Image Url</span></dt>
        <dd>
          <span>{{ fishProductRef.imageUrl }}</span>
        </dd>
        <dt>
          <span [ngbTooltip]="'whatsappProductServiceApp.fishProduct.help.description' | translate"
            jhiTranslate="whatsappProductServiceApp.fishProduct.description">Description</span>
        </dt>
        <dd>
          <span>{{ fishProductRef.description }}</span>
        </dd>
        <dt><span jhiTranslate="whatsappProductServiceApp.fishProduct.isAvailable">Is Available</span></dt>
        <dd>
          <span>{{ fishProductRef.isAvailable }}</span>
        </dd>
        <dt><span jhiTranslate="whatsappProductServiceApp.fishProduct.createdAt">Created At</span></dt>
        <dd>
          <span>{{ fishProductRef.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="whatsappProductServiceApp.fishProduct.version">Version</span></dt>
        <dd>
          <span>{{ fishProductRef.version }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/fish-product', fishProductRef.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
    }
  </div>
</div>