<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (orderItem(); as orderItemRef) {
      <div>
        <h2 data-cy="orderItemDetailsHeading"><span jhiTranslate="whatsappProductServiceApp.orderItem.detail.title">Order Item</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ orderItemRef.id }}</span>
          </dd>
          <dt>
            <span
              [ngbTooltip]="'whatsappProductServiceApp.orderItem.help.quantityKg' | translate"
              jhiTranslate="whatsappProductServiceApp.orderItem.quantityKg"
              >Quantity Kg</span
            >
          </dt>
          <dd>
            <span>{{ orderItemRef.quantityKg }}</span>
          </dd>
          <dt><span jhiTranslate="whatsappProductServiceApp.orderItem.priceAtOrder">Price At Order</span></dt>
          <dd>
            <span>{{ orderItemRef.priceAtOrder }}</span>
          </dd>
          <dt><span jhiTranslate="whatsappProductServiceApp.orderItem.product">Product</span></dt>
          <dd>
            @if (orderItem()!.product) {
              <div>
                <a [routerLink]="['/fish-product', orderItem()!.product?.id, 'view']">{{ orderItemRef.product?.name }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="whatsappProductServiceApp.orderItem.order">Order</span></dt>
          <dd>
            @if (orderItem()!.order) {
              <div>
                <a [routerLink]="['/customer-order', orderItem()!.order?.id, 'view']">{{ orderItemRef.order?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/order-item', orderItemRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
