<div>
  <h2 id="page-heading" data-cy="CustomerHeading">
    <span jhiTranslate="whatsappProductServiceApp.customer.home.title">Customers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="whatsappProductServiceApp.customer.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-customer"
        [routerLink]="['/customer/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="whatsappProductServiceApp.customer.home.createLabel">Create a new Customer</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (customers().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="whatsappProductServiceApp.customer.home.notFound">No Customers found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="waPhoneNumber">
              <div class="d-flex">
                <span jhiTranslate="whatsappProductServiceApp.customer.waPhoneNumber">Wa Phone Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="whatsappProductServiceApp.customer.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="phoneNumber">
              <div class="d-flex">
                <span jhiTranslate="whatsappProductServiceApp.customer.phoneNumber">Phone Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="locationLat">
              <div class="d-flex">
                <span jhiTranslate="whatsappProductServiceApp.customer.locationLat">Location Lat</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="locationLon">
              <div class="d-flex">
                <span jhiTranslate="whatsappProductServiceApp.customer.locationLon">Location Lon</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="address">
              <div class="d-flex">
                <span jhiTranslate="whatsappProductServiceApp.customer.address">Address</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="distanceFromBusinessKm">
              <div class="d-flex">
                <span jhiTranslate="whatsappProductServiceApp.customer.distanceFromBusinessKm">Distance From Business Km</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isPincodeValid">
              <div class="d-flex">
                <span jhiTranslate="whatsappProductServiceApp.customer.isPincodeValid">Is Pincode Valid</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="role">
              <div class="d-flex">
                <span jhiTranslate="whatsappProductServiceApp.customer.role">Role</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="joinedAt">
              <div class="d-flex">
                <span jhiTranslate="whatsappProductServiceApp.customer.joinedAt">Joined At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastInteractionAt">
              <div class="d-flex">
                <span jhiTranslate="whatsappProductServiceApp.customer.lastInteractionAt">Last Interaction At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="addedBy.name">
              <div class="d-flex">
                <span jhiTranslate="whatsappProductServiceApp.customer.addedBy">Added By</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (customer of customers(); track trackId(customer)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/customer', customer.id, 'view']">{{ customer.id }}</a>
              </td>
              <td>{{ customer.waPhoneNumber }}</td>
              <td>{{ customer.name }}</td>
              <td>{{ customer.phoneNumber }}</td>
              <td>{{ customer.locationLat }}</td>
              <td>{{ customer.locationLon }}</td>
              <td>{{ customer.address }}</td>
              <td>{{ customer.distanceFromBusinessKm }}</td>
              <td>{{ customer.isPincodeValid }}</td>
              <td [jhiTranslate]="'whatsappProductServiceApp.UserRole.' + (customer.role ?? 'null')">
                {{
                  {
                    null: '',
                    CUSTOMER: 'CUSTOMER',
                    EXECUTIVE: 'EXECUTIVE',
                    DELIVERY_PERSON: 'DELIVERY_PERSON',
                    ASSISTANT_ADMIN: 'ASSISTANT_ADMIN',
                    ADMIN: 'ADMIN',
                    DEVELOPER: 'DEVELOPER',
                    ACCOUNTS_TEAM: 'ACCOUNTS_TEAM',
                  }[customer.role ?? 'null']
                }}
              </td>
              <td>{{ customer.joinedAt | formatMediumDatetime }}</td>
              <td>{{ customer.lastInteractionAt | formatMediumDatetime }}</td>
              <td>
                @if (customer.addedBy) {
                  <div>
                    <a [routerLink]="['/team-member', customer.addedBy.id, 'view']">{{ customer.addedBy.name }}</a>
                  </div>
                } @else {
                  <span jhiTranslate="whatsappProductServiceApp.customer.selfAdded">SELF_ADDED</span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/customer-order']"
                    [queryParams]="{ 'filter[customerId.in]': customer.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('whatsappProductServiceApp.customer.orders' | translate) }"
                      >Show Orders</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/shopping-cart']"
                    [queryParams]="{ 'filter[customerId.in]': customer.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('whatsappProductServiceApp.customer.cart' | translate) }"
                      >Show Cart</span
                    >
                  </button>
                  <a [routerLink]="['/customer', customer.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/customer', customer.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(customer)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (customers().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
