<div>
  <h2 id="page-heading" data-cy="FishProductHeading">
    <span jhiTranslate="whatsappProductServiceApp.fishProduct.home.title">Fish Products</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="whatsappProductServiceApp.fishProduct.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-fish-product"
        [routerLink]="['/fish-product/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="whatsappProductServiceApp.fishProduct.home.createLabel">Create a new Fish Product</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (fishProducts().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="whatsappProductServiceApp.fishProduct.home.notFound">No Fish Products found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="whatsappProductServiceApp.fishProduct.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="pricePerKg">
              <div class="d-flex">
                <span jhiTranslate="whatsappProductServiceApp.fishProduct.pricePerKg">Price Per Kg</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="imageUrl">
              <div class="d-flex">
                <span jhiTranslate="whatsappProductServiceApp.fishProduct.imageUrl">Image Url</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="whatsappProductServiceApp.fishProduct.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isAvailable">
              <div class="d-flex">
                <span jhiTranslate="whatsappProductServiceApp.fishProduct.isAvailable">Is Available</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdAt">
              <div class="d-flex">
                <span jhiTranslate="whatsappProductServiceApp.fishProduct.createdAt">Created At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (fishProduct of fishProducts(); track trackId(fishProduct)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/fish-product', fishProduct.id, 'view']">{{ fishProduct.id }}</a>
              </td>
              <td>{{ fishProduct.name }}</td>
              <td>{{ fishProduct.pricePerKg }}</td>
              <td>{{ fishProduct.imageUrl }}</td>
              <td>{{ fishProduct.description }}</td>
              <td>{{ fishProduct.isAvailable }}</td>
              <td>{{ fishProduct.createdAt | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/fish-product', fishProduct.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/fish-product', fishProduct.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(fishProduct)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (fishProducts().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
