<div>
  <h2 id="page-heading" data-cy="CustomerOrderHeading">
    <span jhiTranslate="whatsappProductServiceApp.customerOrder.home.title">Customer Orders</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="whatsappProductServiceApp.customerOrder.home.refreshListLabel">Refresh list</span>
      </button>

      <button id="jh-create-entity" data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-customer-order" [routerLink]="['/customer-order/new']">
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="whatsappProductServiceApp.customerOrder.home.createLabel">Create a new Customer Order</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (customerOrders().length === 0) {
  <div class="alert alert-warning" id="no-result">
    <span jhiTranslate="whatsappProductServiceApp.customerOrder.home.notFound">No Customer Orders found</span>
  </div>
  } @else {
  <div class="table-responsive table-entities" id="entities">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="orderTime">
            <div class="d-flex">
              <span jhiTranslate="whatsappProductServiceApp.customerOrder.orderTime">Order Time</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalAmount">
            <div class="d-flex">
              <span jhiTranslate="whatsappProductServiceApp.customerOrder.totalAmount">Total Amount</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="whatsappProductServiceApp.customerOrder.status">Status</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="paymentMethod">
            <div class="d-flex">
              <span jhiTranslate="whatsappProductServiceApp.customerOrder.paymentMethod">Payment Method</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="confirmedAt">
            <div class="d-flex">
              <span jhiTranslate="whatsappProductServiceApp.customerOrder.confirmedAt">Confirmed At</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="deliveryPerson.name">
            <div class="d-flex">
              <span jhiTranslate="whatsappProductServiceApp.customerOrder.deliveryPerson">Delivery Person</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="customer.name">
            <div class="d-flex">
              <span jhiTranslate="whatsappProductServiceApp.customerOrder.customer">Customer</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (customerOrder of customerOrders(); track trackId(customerOrder)) {
        <tr data-cy="entityTable">
          <td>
            <a [routerLink]="['/customer-order', customerOrder.id, 'view']">{{ customerOrder.id }}</a>
          </td>
          <td>{{ customerOrder.orderTime | formatMediumDatetime }}</td>
          <td>{{ customerOrder.totalAmount }}</td>
          <td [jhiTranslate]="'whatsappProductServiceApp.OrderStatus.' + (customerOrder.status ?? 'null')">
            {{
            {
            null: '',
            ORDER_NOT_TAKEN: 'ORDER_NOT_TAKEN',
            DELIVERY_ONWAY: 'DELIVERY_ONWAY',
            ORDER_DELIVERED_SUCESSFULLY: 'ORDER_DELIVERED_SUCESSFULLY',
            ORDER_FAILED: 'ORDER_FAILED'
            }[customerOrder.status ?? 'null']
            }}
          </td>
          <td>{{ customerOrder.paymentMethod }}</td>
          <td>{{ customerOrder.confirmedAt | formatMediumDatetime }}</td>
          <td>
            @if (customerOrder.deliveryPerson) {
            <div>
              <a [routerLink]="['/team-member', customerOrder.deliveryPerson.id, 'view']">{{
                customerOrder.deliveryPerson.name }}</a>
            </div>
            } @else if (customerOrder.removedDeliveryPersonId) {
            <div>
              <span class="badge bg-secondary">Removed</span>
              <a [routerLink]="['/removed-user', customerOrder.removedDeliveryPersonId, 'view']">ID: {{
                customerOrder.removedDeliveryPersonId }}</a>
            </div>
            }
          </td>
          <td>
            @if (customerOrder.customer) {
            <div>
              <a [routerLink]="['/customer', customerOrder.customer.id, 'view']">{{ customerOrder.customer.name }}</a>
            </div>
            } @else if (customerOrder.removedCustomerId) {
            <div>
              <span class="badge bg-secondary">Removed</span>
              <a [routerLink]="['/removed-user', customerOrder.removedCustomerId, 'view']">ID: {{
                customerOrder.removedCustomerId }}</a>
            </div>
            }

          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/order-item']"
                [queryParams]="{ 'filter[orderId.in]': customerOrder.id }" class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('whatsappProductServiceApp.customerOrder.items' | translate) }">Show
                  Items</span>
              </button>
              <a [routerLink]="['/customer-order', customerOrder.id, 'view']" class="btn btn-info btn-sm"
                data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/customer-order', customerOrder.id, 'edit']" class="btn btn-primary btn-sm"
                data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(customerOrder)" class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
  @if (customerOrders().length > 0) {
  <div>
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination [collectionSize]="totalItems" [page]="page" [pageSize]="itemsPerPage" [maxSize]="5"
        [rotate]="true" [boundaryLinks]="true" (pageChange)="navigateToPage($event)"></ngb-pagination>
    </div>
  </div>
  }
</div>