<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (teamMember(); as teamMemberRef) {
    <div>
      <h2 data-cy="teamMemberDetailsHeading">
        <span jhiTranslate="whatsappProductServiceApp.teamMember.detail.title">Team Member</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ teamMemberRef.id }}</span>
        </dd>
        <dt><span jhiTranslate="whatsappProductServiceApp.teamMember.name">Name</span></dt>
        <dd>
          <span>{{ teamMemberRef.name }}</span>
        </dd>
        <dt><span jhiTranslate="whatsappProductServiceApp.teamMember.waPhoneNumber">Wa Phone Number</span></dt>
        <dd>
          <span>{{ teamMemberRef.waPhoneNumber }}</span>
        </dd>
        <dt><span jhiTranslate="whatsappProductServiceApp.teamMember.phoneNumber">Phone Number</span></dt>
        <dd>
          <span>{{ teamMemberRef.phoneNumber }}</span>
        </dd>
        <dt><span jhiTranslate="whatsappProductServiceApp.teamMember.role">Role</span></dt>
        <dd>
          <span [jhiTranslate]="'whatsappProductServiceApp.UserRole.' + (teamMemberRef.role ?? 'null')">{{
            {
            null: '',
            CUSTOMER: 'CUSTOMER',
            EXECUTIVE: 'EXECUTIVE',
            DELIVERY_PERSON: 'DELIVERY_PERSON',
            ASSISTANT_ADMIN: 'ASSISTANT_ADMIN',
            ADMIN: 'ADMIN',
            DEVELOPER: 'DEVELOPER',
            ACCOUNTS_TEAM: 'ACCOUNTS_TEAM',
            }[teamMemberRef.role ?? 'null']
            }}</span>
        </dd>
        <dt><span jhiTranslate="whatsappProductServiceApp.teamMember.isActive">Is Active</span></dt>
        <dd>
          <span>{{ teamMemberRef.isActive }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/team-member', teamMemberRef.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
    }
  </div>
</div>