<div class="footer text-center mt-3">
  <div>
    <img src="content/images/footerlogo.jpg" alt="Logo" width="50" class="mb-2" />
  </div>
  <p class="mb-1">powered by LXI Technologies</p>
  <p class="mb-2">Palakkad | Kerala | India</p>

  <div class="mb-1" style="display: flex; gap: 15px; justify-content: center; align-items: center;">
    <span><fa-icon icon="phone" class="me-1"></fa-icon> +91 7736647856</span>
    <span>|</span>
    <span><fa-icon icon="envelope" class="me-1"></fa-icon> Email iD: tech&#64;lxi.com</span>
  </div>

  <div class="mb-1">
    <a href="https://www.linkedin.com/company/lxisoft" target="_blank" class="contact-link me-3" title="LinkedIn">
      <fa-icon [icon]="['fab', 'linkedin']" size="2x"></fa-icon>
    </a>
    <a href="https://github.com/lxisoft" target="_blank" class="contact-link" title="GitHub">
      <fa-icon [icon]="['fab', 'github']" size="2x"></fa-icon>
    </a>
  </div>
</div>