<div>
    <h2 id="page-heading" data-cy="RemovedOrderSummaryHeading">
        <span>Removed Order Summaries</span>

        <div class="d-flex justify-content-end">
            <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
                <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
                <span>Refresh list</span>
            </button>
        </div>
    </h2>

    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <jhi-filter [filters]="filters"></jhi-filter>

    @if (removedOrderSummaries().length === 0) {
    <div class="alert alert-warning" id="no-result">
        <span>No Removed Order Summaries found</span>
    </div>
    } @else {
    <div class="table-responsive table-entities" id="entities">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
                    <th scope="col" jhiSortBy="id">
                        <div class="d-flex">
                            <span>ID</span>
                            <fa-icon class="p-1" icon="sort"></fa-icon>
                        </div>
                    </th>
                    <th scope="col" jhiSortBy="userName">
                        <div class="d-flex">
                            <span>User Name</span>
                            <fa-icon class="p-1" icon="sort"></fa-icon>
                        </div>
                    </th>
                    <th scope="col" jhiSortBy="userRole">
                        <div class="d-flex">
                            <span>Role</span>
                            <fa-icon class="p-1" icon="sort"></fa-icon>
                        </div>
                    </th>
                    <th scope="col" jhiSortBy="totalOrders">
                        <div class="d-flex">
                            <span>Total Orders</span>
                            <fa-icon class="p-1" icon="sort"></fa-icon>
                        </div>
                    </th>
                    <th scope="col" jhiSortBy="totalAmount">
                        <div class="d-flex">
                            <span>Total Amount</span>
                            <fa-icon class="p-1" icon="sort"></fa-icon>
                        </div>
                    </th>
                    <th scope="col" jhiSortBy="removedAt">
                        <div class="d-flex">
                            <span>Removed At</span>
                            <fa-icon class="p-1" icon="sort"></fa-icon>
                        </div>
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @for (removedOrderSummary of removedOrderSummaries(); track trackId(removedOrderSummary)) {
                <tr data-cy="entityTable">
                    <td>
                        <a [routerLink]="['/removed-order-summary', removedOrderSummary.id, 'view']">{{
                            removedOrderSummary.id }}</a>
                    </td>
                    <td>{{ removedOrderSummary.userName }}</td>
                    <td>{{ removedOrderSummary.userRole }}</td>
                    <td>{{ removedOrderSummary.totalOrders }}</td>
                    <td>{{ removedOrderSummary.totalAmount }}</td>
                    <td>{{ removedOrderSummary.removedAt | formatMediumDatetime }}</td>
                    <td class="text-end">
                        <div class="btn-group">
                            <a [routerLink]="['/removed-order-summary', removedOrderSummary.id, 'view']"
                                class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    }
    @if (removedOrderSummaries().length > 0) {
    <div>
        <div class="d-flex justify-content-center">
            <jhi-item-count
                [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
        </div>

        <div class="d-flex justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [page]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                [rotate]="true" [boundaryLinks]="true" (pageChange)="navigateToPage($event)"></ngb-pagination>
        </div>
    </div>
    }
</div>